body {
    padding: 0;
    margin: 0;
    font-family: Roboto, sans-serif;
}

.container {
    display: flex;
    height: 100vh;
}

.sidebar {
    background: #ffffff;
    margin: 15px;
    min-width: 340px;
}

.preview {
    background: #f9fafd;
    width: 100%;
}

.layout-placeholder {
    color: #464b5b;
    font-size: 18px;
}

.accordion {
    background: #e6ebff;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 15px;
}

.accordion-title {
    color: #0033ff;
    font-weight: 800;
    font-size: 18px;
    margin: 0;
}

.label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: 700;
}

input {
    box-sizing: border-box;
}

.form-control {
    background-color: #ffffff;
    border: 1px solid #d6dae4;
    border-radius: 3px;
    padding: 6px 12px;
    height: 38px;
    width: 100%;
    margin-bottom: 20px;
}

label {
    font-size: 14px;
}

input[type="radio"] {
    margin: 0;
    width: 15px;
    height: 15px;
}

.radio-select {
    display: flex;
    align-items: center;
    gap: 5px;
}

.radio-group {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 20px;
}
}

button {
    border: none;
    border-radius: 5px;
    width: 150px;
    padding: 6px;
    font-size: 20px;
    background-color: skyblue;
    color: white;
    cursor: pointer;
}
.instagram-logo {
    margin-left: auto;
}

.wrapper {
    background: #fff;
    width: 300px;
    height: 450px;
    padding: 10px;
    border: 1px solid grey;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 0px;
    margin-right: 10px;
}

.mainImage {
    max-width: 300px;
    max-height: 300px;
}

.userData {
    display: flex;
}
.description {
    text-align: justify;
    font-family: Roboto, sans-serif;
}
.heart-icon {
    margin-right: 5px;
}
.likes {
    position: relative;
    top: 17px;
    left: 3px;
}
.user {
    position: relative;
    bottom: 25px;
    left: 90px;
}
.date {
}